* {
  font-family: sans-serif;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: rgb(215, 213, 213);
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(1, 1, 21);
  color: white;
  height: 60px;
  position: fixed;
  top: 0%;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-left: 19px;
}

nav ul {
  display: flex;
  align-items: center;
  margin-right: 18px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
  margin-inline: 20px;
  font-size: 20px;
  transition: all 0.5s;
}

ul li a:hover,
ul li a.active {
  color: aqua;
  font-weight: 600;
}

.icon {
  display: none;
  align-items: center;
  font-size: 30px;
  margin-right: 13px;
}

.main{
  display: flex;
  justify-content: center;
  margin-top: 155px;
  
}

.mainText h1{
  font-size: 55px;
  color: rgb(11, 166, 166);

}

.mainText h2{
  font-size: 33px;
}

.mainText button{
  width: 120px;
  height: 34px;
  background-color: rgb(0, 109, 109);
  color: white;
  font-size: 18px;
  border: none;
}
.mainText button:hover{
  border: 2px solid rgb(11, 132, 132);
  background-color: transparent;
  color: rgb(11, 126, 126);
  cursor: pointer;
}

.head{
  padding: 55px;
  text-align: center;
}

.head span{
  color: orangered;
}

.cards{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.cards .crd{
  margin-inline: 22px;
  text-align: center;
}
.crd img{
  width: 300px;
  height: 340px;
}
.crd i{
  color: rgb(248, 138, 3);
  position: relative;
  top: -10px;
}
.crd h3{
  margin-top: 0%;
}

/* reviews */
.reviews{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

.reviews .rCard{
  width: 260px;
  height: 240px;
  background-color: white;
  text-align: center;
  padding: 16px;
  margin-inline: 20px;
}
.rCard img{
  width:42%;
  border-radius: 50%;
}
.rCard button{
  width: 90px;
  height: 30px;
  background-color: rgb(10, 180, 180);
  color: white;
  font-size: 18px;
  border: none;
  margin-top: 20px;
}

.rCard button:hover{
  background-color: transparent;
  color: rgb(10, 201, 201);
  border: 2px solid rgb(6, 206, 206);
}













@media only screen and (max-width: 610px) {
  nav ul {
    display: none;
  }
  .icon {
    display: flex;
  }
  .ShowData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 54px;
    background-color: rgb(105, 105, 105);
    height: 300px;
    width: 250px;
    left: 36%;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    text-align: center;
    gap: 25px;
    padding: 10px;

  }

}
