* {
  font-family: sans-serif;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: rgb(194, 193, 193);
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(1, 1, 21);
  color: white;
  height: 60px;
  position: fixed;
  top: 0%;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-left: 19px;
}

nav ul {
  display: flex;
  align-items: center;
  margin-right: 18px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
  margin-inline: 20px;
  font-size: 20px;
  transition: all 0.5s;
}

ul li a:hover,
ul li a.active {
  color: aqua;
  font-weight: 600;
}

.icon {
  display: none;
  align-items: center;
  font-size: 30px;
  margin-right: 13px;
}

.main{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 155px;
  background-color: brown;
}

.mainText h1{
  font-size: 55px;
  color: rgb(0, 139, 139);
}
.mainText h2{
  font-size: 33px;
}

.mainText button{
  width: 120px;
  height: 34px;
  background-color: rgb(2, 111, 111);
  color: white;
  font-size: 18px;
  border: none;

}
.mainText button:hover{
  background-color: transparent;
  border: 2px solid rgb(6, 158, 158);
  color: black;
  cursor: pointer;
}

.cards{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
.cards .crd{
  margin-inline:22px;
  text-align: center;
}
.crd i{
  color: rgb(206, 83, 7);
  position: relative;
  top: -11px;
}
.crd h3{
  margin-top: 1px;
}

.crd img{
  height: 350px;
  width: 300px;
}

.head{
  padding: 55px;
  text-align: center;
}
.head span{
  color: orangered;
}

.reviews{
  display: flex;
  justify-content: center;
}
.reviews .rCard{
  width: 260px;
  height: 240px;
  background-color: #fff;
  text-align: center;
}

.rcard img{
  width: 200px;
  height: 200px;
}


















@media only screen and (max-width: 610px) {
  nav ul {
    display: none;
  }
  .icon {
    display: flex;
  }
  .ShowData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 54px;
    background-color: rgb(105, 105, 105);
    height: 300px;
    width: 250px;
    left: 36%;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    text-align: center;
    gap: 25px;
    padding: 10px;

  }

}
